<!-- Integrating Data table -->
<!-- <data-table></data-table> -->

<!-- integrating searching -->
        <mat-toolbar color="primary">
            <span > TRESERVA </span>
            <!-- <span class="spacer"></span>
            Reload data:
            <button mat-icon-button (click)="refreshTable()">
              <mat-icon>refresh</mat-icon>
            </button> -->
          </mat-toolbar>

<!-- integrating data-table -->

<expected-data-output></expected-data-output>

<!-- -------------------------- -->
<!-- <div class="button">
        <button mat-flat-button color="primary" [disableRipple]="true" (click)="importData()">Import Data</button>
        &nbsp;&nbsp;&nbsp;
        <button mat-flat-button color="primary">Refresh</button>
        &nbsp;&nbsp;&nbsp;
        <button mat-flat-button color="primary">Cancel</button>
</div> -->
